html{
    background-color: #80ffdb;
}
#menu{
    position: relative;
    width: 80%;
    height: 50px;
    border-style: solid;
    border-radius: 3px;
    margin-left: 10%;
    margin-right: auto;
    border-color: cornflowerblue;
    
}
#menu ul li{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    height:  60%;
    

}
#menu ul{
    text-align: end;
    margin: 0px;
    
}
#header{
    position: relative;
    width: 80%;
    height: 80px;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 1px;
    margin-left: 10%;
    margin-right: auto;
    text-align: center;
}
#cuerpo{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#cuerpo1{
    position: relative;
    width: 50%;
    height: 500px;
    border-style: solid;
    border-radius: 1px;
    border-color: cornflowerblue;
    margin-left: 10%;
    display:inline-block;

}
#cuerpo2{
    position: relative;
    width: 29.5%;
    height: 500px;
    border-style: solid;
    border-radius: 1px;
    border-color:cornflowerblue;
    display:block;
    
}
#final{
    position: relative;
    width: 80%;
    height: 60px;
    border-style: solid;
    border-radius: 1px;
    border-color: cornflowerblue;
    margin-left: 10%;
    margin-right: auto;

}
#final ul li{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    height:  50%;
    width: 100px;
    

}
#final ul{
    text-align: left;
    margin: 3px;
    
}
#tabla1{
    position: relative;
    width: 85%;
    height: 300px;
    border-style: solid;
    margin: 20px;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 15px;
}
#tabla1 td{
    position: relative;
    border: 1px solid grey ;  
    border-radius: 5px;  
}
a{
    text-decoration: none;
    color: blue;
}
.tarjeta{
    position: relative;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 10px;
    height: 30%;
    display: inline-table;
    
    
}
.cuerpo3{
    position: relative;
    width: 80%;
    height: 450px;
    border-style: solid;
    border-radius: 1px;
    border-color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: auto;
}
.imagenes1{
    position: relative;
    
    border: 1px solid black;
    width: 25%;
    border-radius: 50%;
}

.imagenes{
    display: inline-flex;
}
.usuario{
    position: relative;
    border: 1px solid blue;
    width: 20%;
    text-align: left;
    border-radius: 20%;
    margin-left: 70%;
    
}
input{
    border: 2px solid #3a86ff;
    height: 15%;
    position: relative;
    margin-left: 10px;
    background-color: #3a86ff;
    border-radius: 10%;
    
}
.juego{
    position: relative;
    width: 100%;
    vertical-align: top;
    
}
#tabla7{
    position: relative;
    width: 85%;
    height: 300px;
    border-style: solid;
    margin: 20px;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 15px;
}
#tabla7 td{
    position: relative;
    border: 1px solid grey ;  
    border-radius: 5px; 
    width: 20%;

}
#tabla8{
    position: relative;
    width: 80%;
    height: 400px;
    border-style: solid;
    margin: 20px;
    padding: 5px;
    border-collapse: separate;
    border-spacing: 15px;
}
#tabla8 td{
    position: relative;
    border: 1px solid grey ;  
    border-radius: 5px; 
    width: 10%;
}
.cuerpo4{
    position: relative;
    width: 80%;
    height: 500px;
    border-style: solid;
    border-radius: 1px;
    border-color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: auto;
}
#tabla9{
    position: relative;
    width: 85%;
    height: 400px;
    border-style: solid;
    margin: 20px;
    padding: 5px;
    border-collapse: separate;
    border-spacing: 15px;
}
#tabla9 td{
    position: relative;
    border: 1px solid grey ;  
    border-radius: 5px; 
    width: 10%;
}